/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-apr-2016, 15.35.12
    Author     : rober
*/
    

/* Import font */
@font-face{
    font-family: 'roboto';
    src: url('Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'robotoLight';
    src: url('Fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'robotoCondensed';
    src: url('Fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'robotoCondensedLight';
    src: url('Fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('Fonts/FontAwesome/fontawesome-webfont.eot');
    src: url('Fonts/FontAwesome/fontawesome-webfont.eot') format('embedded-opentype'), url('Fonts/FontAwesome/fontawesome-webfont.woff2') format('woff2'), url('Fonts/FontAwesome/fontawesome-webfont.woff') format('woff'), url('Fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'), url('Fonts/FontAwesome/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.shopping-cart:before{
    font-family: FontAwesome;
    content: "\f07a";
}

/* CSS generali */
html, body{
    font-family: robotoCondensedLight;
    margin: 0;
    height: 100%;
}

body{
    background: url(Images/bg.jpg) no-repeat;
    background-color: #205a5c;
    background-size: 100%;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    z-index: 100;
    background-color: #205a5c;
    border-bottom: 1px solid #154344;
}

#page{
    position: relative;
    text-align: left;
    background-color: #609C9E;
    bottom: 0;
}
    
#sidebar1{
    text-align: center;
}

#sidebar2{
    text-align: center;
}

#footer{
    position: relative;
    background: #2B797C;
    width: 100%;
    text-align: center;
    z-index: 90;
    color: #7ac2c7;
    bottom: 0;
    left: 0;
}

#footer p{
    display: block; 
    margin: auto;   
}

a:link, a:visited{
    text-decoration: none;
    color: #cdeaff;
}

a:hover{
    text-decoration: none;
    border-bottom: 1px solid;
}

.navbar{
    list-style: none;
}

.navbar ul{
    margin:auto;
    position: relative;
    display: block;
    float: inside;
}

.navbar ul li{
    font-family: robotoLight;
    text-transform: uppercase;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.client{
    width: 100%;
    text-align: center;
    border-collapse: separate;
}

.client tr:nth-child(odd){
    background-color: #72B4B6;
}

.client tr:nth-child(even){
    background-color: #568B8D;
}

.cart{
    width: 50px;
}

h1, h2, h3{
    color: #445E5F;
}

.title{
    background-color: #72B4B6;
}

#vapore{
    background-color: #72B4B6;
    text-align: center;
}

/* CSS per pagine FullHD */
@media only screen and (min-width: 1024px) {
    
    #header{
        height: 50px;
    }

    #page{
        margin-top: 50px;
        height: auto;
        width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    
    #sidebar1{
        float: left;
        width: 20%;
        padding-top: 20px;
        padding-right: 5px;
        padding-bottom: 30px;
    }

    #sidebar2{
        float: right;
        width: 20%;
        padding-top: 20px;
        padding-left: 5px;
        padding-bottom: 30px;
    }

    #content{
        height: 100%;
        margin-right: 20%;
        margin-left: 20%;
        padding-top: 20px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 30px;
    }

    #footer{
        height: 30px;
        font-size: 1.4em; 
        line-height: 30px;
    }

    .navbar ul li{
        margin: 0px;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 50px;
        font-size: 1.4em;
    }
    
    #sidebar2 table{
        border-spacing: 0 5px;
        width: 100%;
        text-align: center;
        border-collapse: separate;
    }
    
    .gameicon-sale{
        background-size: auto 100%;
        width: 140px;
        height: 65px;
    }

    .client{
        font-size: 0.8em;
        border-spacing: 0 5px;
    }
    
    .description{
        height: 28px;
    }
    
    .logo{
        text-align: left;
        width: 115px;
        height: 56px;
    }
    
    .gameicon{
        background-size: auto 100%;
        width: 115px;
        height: 56px;
    }
    
    .title{
        padding-left: 30px;
    }
    
    #vapore{
        height: 50px;
    }
}