/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-apr-2016, 15.35.12
    Author     : rober
*/
    

/* Import font */
@font-face{
    font-family: 'roboto';
    src: url('Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'robotoLight';
    src: url('Fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'robotoCondensed';
    src: url('Fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'robotoCondensedLight';
    src: url('Fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* CSS generali */
html, body{
    margin: 0;
    height: auto;
}

body{
    font-family: robotoCondensedLight;
    background: url(Images/bg.jpg) no-repeat;
    background-color: #205a5c;
    background-size: 100%;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    z-index: 100;
    background-color: #fea39e;
    border-bottom: 1px solid #ff8982;
}

#page{
    position: static;
    text-align: left;
    background-color: #ffede2;
    bottom: 0;
}

#footer{
    position: relative;
    background: #7ac2c7;
    width: 100%;
    text-align: center;
    z-index: 90;
    color: #ffede2;
    bottom: 0;
    left: 0;
}

#footer p{
    display: block; 
    margin: auto;   
}

.navbar{
    list-style: none;
}
.navbar ul{
    margin:auto;
    position: relative;
    display: block;
    float: inside;
}
.navbar ul li{
    font-family: robotoLight;
    text-transform: uppercase;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

a:link{
    text-decoration: none;
    color: #cdeaff;
}

a:visited{
    text-decoration: none;
    color: #cdeaff;
}

a:hover{
    text-decoration: none;
    border-bottom: 1px solid;
}


/* CSS per pagine FullHD */
@media only screen and (min-width: 1920px) {
    
    #header{
        height: 50px;
    }

    #page{
        top: 50px;
        height: auto;
        margin-top: 50px;
        margin-left: 25%;
        width: 50%;
    }
    
    #sidebar1{
        float: left;
        height: 100%;
        width: 20%;
    }

    #sidebar2{
        float: right;
        height: 100%;
        width: 20%;
    }

    #content{
        height: 100%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #footer{
        height: 30px;
        font-size: 1.4em; 
        line-height: 30px;
    }

    .navbar{
    }

    .navbar ul{
    }

    .navbar ul li{
        margin: 0px;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 50px;
        font-size: 1.4em;
    }
    
    .gameicon{
        width: 230px;
        height: 110px;
    }
    
    .gameicon-sale{
        width: 180px;
        height: 85px;
    }
}